<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title><%= title %></title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Material Design Bootstrap -->
    <link href="/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/misc.css">

    <link rel="stylesheet" href="/css/index.css">

</head>

<body>

    <!--Navbar-->
    <nav class="navbar navbar-toggleable-md navbar-dark fixed-top scrolling-navbar">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="/favicon.ico" alt="Delgado eLearn Program"
                     id="brand-img" class="img-responsive vertical-center">
                <strong>eLearn Program</strong>
            </a>
            <div class="collapse navbar-collapse" id="navbarNav1">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#best-features">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>

                    </li>
                </ul>
                <form class="form-inline waves-effect waves-light">
                    <% if (username) { %>
                    <input class="form-control" type="text" placeholder="Hello <%= username %>">
                    <% } else{ %>
                    <input class="form-control" type="text" placeholder="Search">

                    <% } %>

                </form>
            </div>
        </div>
    </nav>
    <!--/.Navbar-->

    <!--Mask-->
    <div class="view hm-black-strong">
        <div class="full-bg-img flex-center">
            <ul>
                <li>
                    <h1 class="h1-responsive wow fadeInDown" data-wow-delay="0.2s">Welcome to the eLearn Program!</h1>
                </li>
                <li>
                    <h1 class="h1-responsive wow fadeInDown">Watch a quick video</h1>
                </li>
                <li>
                    <iframe src="https://www.youtube.com/embed/WhaWsGL4pN8" frameborder="0" width="50%" height="500%"
                            allowfullscreen></iframe>
                </li>
                <!--<li>
                    <p class="wow fadeInDown">Use these quick links to contact your coach, view program info, and sign
                                              in to Google Classroom!</p>
                </li>
                <li>
                    <a target="_blank" href="//mdbootstrap.com/getting-started/"
                       class="btn btn-primary btn-lg wow fadeInLeft" data-wow-delay="0.2s" rel="nofollow">Your Coach</a>
                    <a target="_blank" href="//mdbootstrap.com/material-design-for-bootstrap/"
                       class="btn btn-default btn-lg wow fadeInRight" data-wow-delay="0.2s" rel="nofollow">Google
                                                                                                           Classroom</a>
                    <a target="_blank" href="//mdbootstrap.com/material-design-for-bootstrap/"
                       class="btn btn-default btn-lg wow fadeInRight" data-wow-delay="0.2s" rel="nofollow">View
                                                                                                           Emails</a>
                    <a target="_blank" href="//mdbootstrap.com/material-design-for-bootstrap/"
                       class="btn btn-primary btn-lg wow fadeInRight" data-wow-delay="0.2s" rel="nofollow">Short
                                                                                                           Lessons</a>
                </li>-->
                <li>
                    <h1 class="h1-responsive wow fadeInDown" data-wow-delay="0.2s">Or scroll down to see more!</h1>
                </li>

            </ul>
        </div>
    </div>
    <!--/.Mask-->

    <!-- Main container-->

    <div id="about">
        <div class="container"><!--Section heading-->
            <h1 data-wow-delay="0.2s" class="h1-responsive wow fadeIn section-heading text-center margin-needed">
                About
                Us</h1>
                               <!--Section sescription-->
            <p class="section-description lead margin-needed-bottom">Lorem ipsum dolor sit amet, consectetur adipisicing
                                                                     elit. Fugit, error amet numquam iure provident
                                                                     voluptate esse quasi, veritatis totam voluptas
                                                                     nostrum
                                                                     quisquam eum porro a pariatur accusamus veniam.
                                                                     Quia,
                                                                     minima?</p>

            <section class="section feature-box">


                <!--First row-->
                <div class="row features-big">
                    <!--First column-->
                    <div class="col-md-4 mb-r">
                        <i class="fa fa-area-chart blue-text"></i>
                        <h4 class="feature-title">Analytics</h4>
                        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                                             maiores
                                             nam, aperiam minima assumenda deleniti hic.</p>
                    </div>
                    <!--/First column-->

                    <!--Second column-->
                    <div class="col-md-4 mb-r">
                        <i class="fa fa-book green-text"></i>
                        <h4 class="feature-title">Tutorials</h4>
                        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                                             maiores
                                             nam, aperiam minima assumenda deleniti hic.</p>
                    </div>
                    <!--/Second column-->

                    <!--Third column-->
                    <div class="col-md-4 mb-r">
                        <i class="fa fa-coffee red-text"></i>
                        <h4 class="feature-title">Relax</h4>
                        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                                             maiores
                                             nam, aperiam minima assumenda deleniti hic.</p>
                    </div>
                    <!--/Third column-->
                </div>
                <!--/First row-->

            </section>
        </div>
    </div>    <!--/Section: Features v.1-->
    <!--/Section: Best features-->
    <!--Section: Team v.4-->
    <div id="staff">
        <div class="container">
            <section class="section">

                <!--Section heading-->
                <h1 class="section-heading">Our amazing team</h1>
                <!--Section sescription-->
                <p class="section-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error
                                               amet
                                               numquam iure provident voluptate esse quasi, veritatis totam voluptas
                                               nostrum
                                               quisquam eum porro a pariatur accusamus veniam.</p>
                <br>

                <div class="row">

                    <!--First column-->
                    <div class="col-lg-4 col-md-12">

                        <!--Rotating card-->
                        <div class="card-wrapper">
                            <div id="card-1" class="card-rotating effect__click">

                                <!--Front Side-->
                                <div class="face front">

                                    <!-- Image-->
                                    <div class="card-up">
                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(55).jpg">
                                    </div>
                                    <!--Avatar-->
                                    <div class="avatar"><img
                                                src="https://mdbootstrap.com/img/Photos/Avatars/avatar-12.jpg"
                                                class="rounded-circle img-responsive">
                                    </div>
                                    <!--Content-->
                                    <div class="card-block">
                                        <h4>Maria Kate</h4>
                                        <p>Photographer</p>
                                        <!--Triggering button-->
                                        <a class="rotate-btn" data-card="card-1"><i class="fa fa-repeat"></i> Click here
                                                                                                              to
                                                                                                              rotate</a>
                                    </div>
                                </div>
                                <!--/.Front Side-->

                                <!--Back Side-->
                                <div class="face back">

                                    <!--Content-->
                                    <h4>About me</h4>
                                    <hr>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime quae, dolores
                                       dicta.
                                       Blanditiis rem amet repellat, dolores nihil quae in mollitia asperiores ut rerum
                                       repellendus, voluptatum eum, officia laudantium quaerat?</p>
                                    <hr>
                                    <!--Social Icons-->
                                    <ul class="inline-ul">
                                        <li><a class="icons-sm fb-ic"><i class="fa fa-facebook"></i></a></li>
                                        <li><a class="icons-sm pin-ic"><i class="fa fa-pinterest"> </i></a></li>
                                        <li><a class="icons-sm ins-ic"><i class="fa fa-instagram"> </i></a></li>
                                        <li><a class="icons-sm tw-ic"><i class="fa fa-twitter"> </i></a></li>
                                    </ul>
                                    <!--Triggering button-->
                                    <a class="rotate-btn" data-card="card-1"><i class="fa fa-undo"></i> Click here to
                                                                                                        rotate
                                                                                                        back</a>

                                </div>
                                <!--/.Back Side-->

                            </div>
                        </div>
                        <!--/.Rotating card-->
                    </div>
                    <!--/First column-->


                    <!--Second column-->
                    <div class="col-lg-4 col-md-12">

                        <!--Rotating card-->
                        <div class="card-wrapper">
                            <div id="card-2" class="card-rotating effect__click">

                                <!--Front Side-->
                                <div class="face front">

                                    <!-- Image-->
                                    <div class="card-up">
                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(64).jpg">
                                    </div>
                                    <!--Avatar-->
                                    <div class="avatar"><img
                                                src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg"
                                                class="rounded-circle img-responsive">
                                    </div>
                                    <!--Content-->
                                    <div class="card-block">
                                        <h4>Anna Deynah</h4>
                                        <p>Web Designer</p>
                                        <!--Triggering button-->
                                        <a class="rotate-btn" data-card="card-2"><i class="fa fa-repeat"></i> Click here
                                                                                                              to
                                                                                                              rotate</a>
                                    </div>
                                </div>
                                <!--/.Front Side-->

                                <!--Back Side-->
                                <div class="face back">

                                    <!--Content-->
                                    <h4>About me</h4>
                                    <hr>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime quae, dolores
                                       dicta.
                                       Blanditiis rem amet repellat, dolores nihil quae in mollitia asperiores ut rerum
                                       repellendus, voluptatum eum, officia laudantium quaerat?</p>
                                    <hr>
                                    <!--Social Icons-->
                                    <ul class="inline-ul">
                                        <li><a class="icons-sm fb-ic"><i class="fa fa-facebook"></i></a></li>
                                        <li><a class="icons-sm tw-ic"><i class="fa fa-twitter"></i></a></li>
                                        <li><a class="icons-sm gplus-ic"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a class="icons-sm drib-ic"><i class="fa fa-dribbble"> </i></a></li>
                                    </ul>
                                    <!--Triggering button-->
                                    <a class="rotate-btn" data-card="card-2"><i class="fa fa-undo"></i> Click here to
                                                                                                        rotate
                                                                                                        back</a>

                                </div>
                                <!--/.Back Side-->

                            </div>
                        </div>
                        <!--/.Rotating card-->
                    </div>
                    <!--/Second column-->


                    <!--Third column-->
                    <div class="col-lg-4 col-md-12">

                        <!--Rotating card-->
                        <div class="card-wrapper">
                            <div id="card-3" class="card-rotating effect__click">

                                <!--Front Side-->
                                <div class="face front">

                                    <!-- Image-->
                                    <div class="card-up">
                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(68).jpg">
                                    </div>
                                    <!--Avatar-->
                                    <div class="avatar"><img
                                                src="https://mdbootstrap.com/img/Photos/Avatars/avatar-4.jpg"
                                                class="rounded-circle img-responsive">
                                    </div>
                                    <!--Content-->
                                    <div class="card-block">
                                        <h4>Sarah Melyah</h4>
                                        <p>Front-end Developer</p>
                                        <!--Triggering button-->
                                        <a class="rotate-btn" data-card="card-3"><i class="fa fa-repeat"></i> Click here
                                                                                                              to
                                                                                                              rotate</a>
                                    </div>
                                </div>
                                <!--/.Front Side-->

                                <!--Back Side-->
                                <div class="face back">

                                    <!--Content-->
                                    <h4>About me</h4>
                                    <hr>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime quae, dolores
                                       dicta.
                                       Blanditiis rem amet repellat, dolores nihil quae in mollitia asperiores ut rerum
                                       repellendus, voluptatum eum, officia laudantium quaerat?</p>
                                    <hr>
                                    <!--Social Icons-->
                                    <ul class="inline-ul">
                                        <li><a class="icons-sm gplus-ic"><i class="fa fa-google-plus"> </i></a></li>
                                        <li><a class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a></li>
                                        <li><a class="icons-sm git-ic"><i class="fa fa-github"> </i></a></li>
                                        <li><a class="icons-sm li-ic"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                    <!--Triggering button-->
                                    <a class="rotate-btn" data-card="card-3"><i class="fa fa-undo"></i> Click here to
                                                                                                        rotate
                                                                                                        back</a>

                                </div>
                                <!--/.Back Side-->

                            </div>
                        </div>
                        <!--/.Rotating card-->
                    </div>
                    <!--/Third column-->

                </div>

            </section>
        </div>
    </div>
    <!--/Section: Team v.4-->
    <div class="divider-new">
        <h2 class="h2-responsive wow fadeIn">Contact us</h2>
    </div>


    <!--Section: Contact-->
    <section id="contact">
        <div class="row">
            <!--First column-->
            <div class="col-md-8">
                <div id="map-container" class="z-depth-1 wow fadeIn" style="height: 300px"></div>
            </div>
            <!--/First column-->

            <!--Second column-->
            <div class="col-md-4">
                <ul class="text-center">
                    <li class="wow fadeIn" data-wow-delay="0.2s"><i class="fa fa-map-marker teal-text"></i>
                        <p>New York, NY 10012, USA</p>
                    </li>

                    <li class="wow fadeIn" data-wow-delay="0.3s"><i class="fa fa-phone teal-text"></i>
                        <p>+ 01 234 567 89</p>
                    </li>

                    <li class="wow fadeIn" data-wow-delay="0.4s"><i class="fa fa-envelope teal-text"></i>
                        <p>contact@mdbootstrap.com</p>
                    </li>
                </ul>
            </div>
            <!--/Second column-->
        </div>
    </section>
    <!--Section: Contact-->

    <!--/ Main container-->


    <!--Footer-->
    <footer class="page-footer center-on-small-only">

        <!--Footer Links-->
        <div class="container-fluid">
            <div class="row">

                <!--First column-->
                <div class="col-md-3 offset-lg-1 hidden-lg-down">
                    <h5 class="title">ABOUT MATERIAL DESIGN</h5>
                    <p>Material Design (codenamed Quantum Paper) is a design language developed by Google. </p>

                    <p>Material Design for Bootstrap (MDB) is a powerful Material Design UI KIT for most popular HTML,
                       CSS, and JS framework - Bootstrap.</p>
                </div>
                <!--/.First column-->

                <hr class="hidden-md-up">

                <!--Second column-->
                <div class="col-lg-2 col-md-4 offset-lg-1">
                    <h5 class="title">Our Projects</h5>
                    <ul>
                        <li><a href="#!">Jeffs Bike Shop</a></li>
                        <li><a href="#!">Main Street Restaurant</a></li>
                        <li><a href="#!">Connect Groceries</a></li>
                        <li><a href="#!">White-To-Black Coffe Shop</a></li>
                    </ul>
                </div>
                <!--/.Second column-->

                <hr class="hidden-md-up">

                <!--Third column-->
                <div class="col-lg-2 col-md-4">
                    <h5 class="title">Useful Resources</h5>
                    <ul>
                        <li><a href="#!">2016 Advertising Report</a></li>
                        <li><a href="#!">Best NY Agencies</a></li>
                        <li><a href="#!">Trends for 2017</a></li>
                        <li><a href="#!">World Advertisement Report</a></li>
                    </ul>
                </div>
                <!--/.Third column-->

                <hr class="hidden-md-up">

                <!--Fourth column-->
                <div class="col-lg-2 col-md-4">
                    <h5 class="title">Find us on</h5>
                    <ul>
                        <li><a href="#!">Facebook</a></li>
                        <li><a href="#!">Twitter</a></li>
                        <li><a href="#!">LinkedIn</a></li>
                        <li><a href="#!">Behance</a></li>
                    </ul>
                </div>
                <!--/.Fourth column-->

            </div>
        </div>
        <!--/.Footer Links-->

        <hr>

        <!--Call to action-->
        <div class="call-to-action">
            <h4>Material Design for Bootstrap</h4>
            <ul>
                <li>
                    <h5>Get our UI KIT for free</h5></li>
                <li><a target="_blank" href="//mdbootstrap.com/getting-started/" class="btn btn-info" rel="nofollow">Sign
                                                                                                                     up!</a>
                </li>
                <li><a target="_blank" href="//mdbootstrap.com/material-design-for-bootstrap/" class="btn btn-default"
                       rel="nofollow">Learn more</a></li>
            </ul>
        </div>
        <!--/.Call to action-->

        <!--Copyright-->
        <div class="footer-copyright">
            <div class="container-fluid">
                © 2015 Copyright: <a href="//www.MDBootstrap.com"> MDBootstrap.com </a>

            </div>
        </div>
        <!--/.Copyright-->

    </footer>
    <!--/.Footer-->


    <!-- SCRIPTS -->

    <!-- JQuery -->
    <script type="text/javascript" src="js/jquery-2.2.3.min.js"></script>

    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="js/tether.min.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>

    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="js/mdb.min.js"></script>


    <!-- Animations init-->
    <script>
        new WOW().init();
    </script>


</body>

</html>