html,
body,
.view {
  height: 100%;
}
.navbar {
  background-color: transparent;
}
.scrolling-navbar {
  -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}
.top-nav-collapse {
  background-color: #3c4f74;
}
#staff {
  background: url("/img/bgs/staff_bg.jpg") 50% 0 no-repeat fixed;
  background-size: cover;
}
footer.page-footer {
  background-color: #3c4f74;
  margin-top: 2rem;
}
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1c2331;
  }
}
.flex-center {
  color: #fff;
}
.view {
  background: url("/img/bgs/university_books.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#contact .fa {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #1c2331;
}
.margin-needed {
  margin-top: 45px;
  margin-bottom: 45px;
}
.margin-needed-bottom {
  margin-bottom: 45px;
}
