<footer class="footer">
    <div class="container">
        <div class="row padding-needed-top padding-needed-bottom">
            <div class="col-sm-3 col-xs-6 text-center">
                <h5 class="white-text">SUPPORT</h5>
                <hr>
                <div class="footer__link"><a routerLink="help" routerLinkActive="">Looking for help?</a></div>
                <div class="footer__link"><a routerLink="help" routerLinkActive="">FAQ</a></div>
                <div class="footer__link"><a routerLink="ask-coach" routerLinkActive="">Ask Your Coach</a></div>
                <div class="footer__link"><a class="intercom-launcher">Live Chat</a></div>
            </div>
            <div class="col-sm-3 col-xs-6 text-center">
                <h5 class="white-text">ABOUT</h5>
                <hr>
                <div class="footer__link"><a routerLink="about" routerLinkActive="">About eLearn</a></div>
                <div class="footer__link"><a href="/customer-support-software/help-desk/team-inbox">
                    The program
                </a></div>
                <div class="footer__link"><a routerLinkActive="" routerLink="classes">
                    Our classes
                </a></div>
                <div class="footer__link"><a routerLinkActive="" routerLink="calendar">
                    eLearn calendar
                </a></div>

            </div>
            <div id="xs-divider" class="col-xs-12">
                <hr>
            </div>
            <div class="col-sm-3 col-xs-6 under-xs-6 text-center">
                <h5 class="white-text">FROM THE BLOG</h5>
                <hr>
                <!--
                                <i class="white-text">Coming soon</i>
                -->
            </div>
            <div class="col-sm-3 col-xs-6 under-xs-6 text-center">
                <h5 class="white-text">CONTACT</h5>
                <hr>
                <a class="social" href="https://www.facebook.com/groups/445095515676900/">
                    <i class="fa fa-facebook"></i>
                </a>
                <a class="social" href="https://www.instagram.com/elearndelgado">
                    <i class="fa fa-instagram"></i>
                </a>
                <a class="social" href="mailto:info@elearnclass.org">
                    <i class="fa fa-envelope-open"></i>
                </a>
            </div>
        </div>

    </div>
</footer>