<footer class="footer">
    <div class="container narrow">
        <div class="row padding-needed-top">
            <div class="col-sm-4 text-center">
                <h4 class="t__h6 c__blue footer__heading">Support</h4>
                <div class="footer__hr"></div>
                <div class="footer__link"><a routerLink="help" routerLinkActive="">Looking for help?</a></div>
                <div class="footer__link"><a routerLink="help" routerLinkActive="">FAQ</a></div>
                <div class="footer__link"><a routerLink="ask-coach" routerLinkActive="">Ask Your Coach</a></div>
                <div class="footer__link"><a class="intercom-launcher">Live Chat</a></div>
            </div>
            <div class="col-sm-4 text-center">
                <h4 class="t__h6 c__blue footer__heading">About</h4>
                <div class="footer__hr"></div>
                <div class="footer__link"><a routerLink="about" routerLinkActive="">About eLearn</a></div>
                <div class="footer__link"><a href="/customer-support-software/help-desk/team-inbox">
                    The program
                </a></div>
                <div class="footer__link"><a routerLinkActive="" routerLink="classes">
                    Our classes
                </a></div>
                <div class="footer__link"><a routerLinkActive="" routerLink="calendar">
                    eLearn calendar
                </a></div>

            </div>

            <div class="col-sm-4 text-center">
                <h4 class="t__h6 c__blue footer__heading">From the blog</h4>
                <div class="footer__hr center"></div>
                <i class="white-text">Coming soon</i>
            </div>
        </div>

        <div class="">
            <div class="sp__7"></div>
            <div class="g__row center">
                <div class="g__c6 footer__addons">
                    <a class="footer__addon list__item" href="https://docs.intercom.io/terms">Cmoing soon</a>
                    <a class="footer__addon list__item" href="https://docs.intercom.io/privacy">Coming soon</a>
                    <a class="footer__addon list__item" href="mailto:team@intercom.com">Coming soon</a>
                </div>
                <div class="g__c6 footer__social">
                    <a class="social" href="https://www.facebook.com/groups/445095515676900/">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a class="social" href="https://www.instagram.com/elearndelgado">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class="social" href="mailto:info@elearnclass.org">
                        <i class="fa fa-envelope-open"></i>
                    </a>
                </div>
            </div>
        </div>

    </div>
</footer>