footer {

  /*
  background-color: #1d4870;
  */
  background-color: #0071b2;
  a, h5 {
    color: white;
  }
  h5 {
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 13px;
  }
  i {
    font-size: 2rem;
  }
  &.page-footer {
    background-color #3c4f74
    margin-top 2rem
  }
  .padding-needed-top {
    padding-top: 35px;
  }
  .padding-needed-bottom {
    padding-bottom: 35px;
  }
  .footer__hr {
    margin-left: auto;
    margin-right: auto;
  }

  .col-xs-6 {
    width: 50%;
    hr {
      background-color: white;
      width: 85px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  #xs-divider {
    display: none;
  }

  @media (max-width: 576px) {

    #xs-divider {
      display: block;
      margin-top: 20px;
      margin-bottom: 20px;
      hr {
        width: 100%;
        border: 1px solid #fff;

      }
    }
  }
}

