footer {
  background-color: #336699;
  a, h4 {
    color: white;
  }
  h4 {
    font-weight: bold;
  }
  i {
    font-size: 2rem;
  }
  &.page-footer {
    background-color #3c4f74
    margin-top 2rem
  }
  .padding-needed-top {
    padding-top: 4%;
  }
  .footer__hr {
    margin-left: auto;
    margin-right: auto;
  }
}

