<div id="course-list">
    <section class="section text-center">
        <div class="container">
            <h1 class="h1-responsive section-heading wow fadeIn">Course Catalog</h1>
            <p class="lead section-description">
                Here are our current and upcoming eLearn classes. You can use the buttons to choose a subject, and then
                click <b>View More</b> to find more information about each class!
            </p>
            <div class="row">
                <div class="col-md-4">
                    <h1>Choose Subject</h1>
                    <br>
                    <form id="subjects-form" role="search">
                        <fieldset class="form-group" *ngFor="let subject of subjects, let i = index">
                            <input (change)="searchSubject = $event.target.value" [value]="subject" name="subjects"
                                   type="radio" id="{{'radio' + i}}" [attr.checked]="i == 0 ? true : null">
                            <label for="{{'radio' + i}}">{{subject}}</label>
                        </fieldset>

                    </form>
                </div>
                <div class="col-md-6 offset-md-2">


                    <div class="md-form">
                        <input (value)="searchClasses" (input)="searchClasses = $event.target.value" type="text"
                               id="table-search" class="form-control">
                        <label for="table-search">Search</label>
                    </div>
                    <div class="table-responsive table-striped">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Class title</th>
                                    <th *ngIf="windowRef.innerWidth > 576">Class Description</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let course of classes | courseFilter:searchClasses | subjectFilter:searchSubject, let i = index">
                                    <!--| courseFilter:searchClasses | subjectFilter:searchSubject, let i=index-->
                                    <th scope="row">{{i + 1}}</th>
                                    <td>{{course.name}}</td>
                                    <td *ngIf="windowRef.innerWidth > 576">{{course.description}}</td>
                                    <td>
                                        <button (click)="modalButtonClick(course['index'])" type="button"
                                                class="btn btn-primary btn-sm class-detail-modal-btn"
                                                data-toggle="modal"
                                                data-target="classDetailModal">
                                            View More
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </section>
</div>
<!-- Modal -->
<div *ngIf="classDetails" class="modal fade bottom" data-backdrop="false" id="classDetailModal" tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-full-height modal-bottom" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <div class="modal-title w-100" id="myModalLabel">
                    <h1>
                        <img id="class-logo" class="img-fluid"
                             src="{{classDetails.img}}"
                             height="20%" alt=""><br>{{classDetails.name}}
                    </h1>
                </div>


            </div>
            <!--Body-->
            <div class="modal-body">
                <p class="margin-needed-bottom">{{classDetails.description}}</p>

                <div class="row">
                    <div class="col-md-4 offset-md-4">
                        <h4>Objectives</h4>
                        <br>
                        <ul class="list-group">
                            <li class="list-group-item" *ngFor="let obj of classDetails.objectives">{{obj}}</li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-sm-6"></div>
                </div>

            </div>
            <!--Footer-->
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-secondary waves-effect waves-light closebtn-modal"
                        data-dismiss="modal">Close
                </button>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>