<app-navbar></app-navbar>
<!-- Main container-->
<div id="about">
    <div class="container"><!--Section heading-->

                           <!--Section sescription-->
        <h2 class="h2-responsive wow fadeIn section-heading text-center section-description lead margin-needed">
            Welcome to eLearn. Check out the links below to find quick help from your teachers and coaches. And you can
            always use the chat in the bottom-right to get live help from an eLearn teacher or coach!
        </h2>

        <section class="section feature-box">


            <!--First row-->
            <div class="row features-big">
                <!--First column-->
                <div class="col-md-4 mb-r">
                    <i class="fa fa-leanpub blue-text"></i>
                    <h4 class="feature-title"><a class="blue-text" routerLink="/classes" routerLinkActive="">Browse our
                                                                                                             classes</a>
                    </h4>
                    <p class="grey-text">View our current eLeran classes as you build your online schedule for the nextx
                                         session</p>
                </div>
                <!--/First column-->

                <!--Second column-->
                <div class="col-md-4 mb-r">
                    <i class="fa fa-users green-text"></i>
                    <h4 class="feature-title">
                        <a class="green-text" routerLink="/coaches" routerLinkActive="">Meet the eLearn Team</a>
                    </h4>
                    <p class="grey-text">Your eLearn teachers and coaches are here to help you succeed online. Check out
                                         our current staff including how to connect with each other</p>
                </div>
                <!--/Second column-->

                <!--Third column-->
                <div class="col-md-4 mb-r">
                    <i class="fa fa-question red-text"></i>
                    <h4 class="feature-title">
                        <a routerLink="/help" routerLinkActive="" class="red-text">Get Help</a>
                    </h4>
                    <p class="grey-text">Browse a list of frequently asked questions or use the chat to get live support
                                         from an eLearn coach!</p>
                </div>
                <!--/Third column-->
            </div>
            <!--/First row-->

        </section>

        <h2 class="h2-responsive wow fadeIn section-heading text-center section-description lead margin-needed">
            Try the chat in the bottom-right to get live help from an eLearn teacher or coach!
        </h2>
    </div>
</div>    <!--/Section: Features v.1-->
<!--/Section: Best features-->


<app-footer></app-footer>