.navbar {
  background-color: transparent;
  font-weight: bold;
}
.navbar a {
  color: #000;
}
.scrolling-navbar {
  -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}
.top-nav-collapse {
  background-color: #3c4f74;
}
#brand-img {
  display: inline;
}
.navbar-toggler-icon {
  color: #000;
}
