.navbar
  background-color transparent
  font-weight: bold
  a {
    color: black;
  }

.scrolling-navbar
  -webkit-transition background .5s ease-in-out, padding .5s ease-in-out
  -moz-transition background .5s ease-in-out, padding .5s ease-in-out
  transition background .5s ease-in-out, padding .5s ease-in-out

.top-nav-collapse
  background-color #3c4f74

#brand-img {
  display: inline;
}

.navbar-toggler-icon {
  color: black;
}