<nav class="navbar navbar-toggleable-md bg-faded">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false"
                aria-label="Toggle navigation">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav1">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a routerLink="/" routerLinkActive="active" class="nav-link">Home<span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/coaches" routerLinkActive="active">Our Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/classes" routerLinkActive="active">Classes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/calendar" routerLinkActive="active">Calendar [N/A]</a>
                </li>
                <li class="nav-item">
                    <a routerLinkActive="active" routerLink="/profile" class="nav-link">My Profile [TEST]</a>
                </li>
            </ul>
            <ul class="pull-md-12 navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="//help.elearnclass.org">Help</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
