<!--
&lt;!&ndash;Footer&ndash;&gt;
<footer class="page-footer center-on-small-only">

    &lt;!&ndash;Footer Links&ndash;&gt;
    <div class="container-fluid">
        <div class="row">

            &lt;!&ndash;First column&ndash;&gt;
            <div class="col-md-3 offset-md-1">
                <h5 class="title">Important Links</h5>
                <p>Quickly navigate to a key page of eLearn by clicking on the appropriate link.</p>
            </div>
            &lt;!&ndash;/.First column&ndash;&gt;

            <hr class="hidden-md-up">

            &lt;!&ndash;Second column&ndash;&gt;
            <div class="col-md-2 offset-md-1">
                <h5 class="title">Student Links</h5>
                <ul>
                    <li><a href="#!">Your Coach</a></li>
                    <li><a href="#!">Google Classroom</a></li>
                    <li><a href="#!">View Emails</a></li>
                    <li><a href="#!">Short Lessons</a>
                    <li><a href="#!">Check Your Hours</a></li>
                </ul>
            </div>
            &lt;!&ndash;/.Second column&ndash;&gt;

            <hr class="hidden-md-up">

            &lt;!&ndash;Third column&ndash;&gt;
            <div class="col-md-2">
                <h5 class="title">Resources</h5>
                <ul>
                    <li><a href="#!">How eLearn Works</a></li>
                    <li><a href="#!">About The Hiset</a></li>
                    <li><a href="#!">Frequently Asked Questions</a></li>
                    <li><a href="#!">Email Digests</a></li>
                    <li><a href="#!">Affordable Internet And Computers</a></li>
                </ul>
            </div>
            &lt;!&ndash;/.Third column&ndash;&gt;

            <hr class="hidden-md-up">

            &lt;!&ndash;Fourth column&ndash;&gt;
            <div class="col-md-2">
                <h5 class="title">Courses</h5>
                <ul>
                    <li><a href="#!">Khan Academy</a></li>
                    <li><a href="#!">Activities On-Demand</a></li>
                </ul>
            </div>
            &lt;!&ndash;/.Fourth column&ndash;&gt;

        </div>
    </div>
    &lt;!&ndash;/.Footer Links&ndash;&gt;

    <hr>

    &lt;!&ndash;Call to action&ndash;&gt;
    <div class="call-to-action">
        <ul>
            <li>
                <h5>Register for free</h5></li>
            <li><a href="http://www.dcc.edu/academics/adult-ed/email_list_and_program_brochure.aspx" class="btn btn-danger">Sign up!</a></li>
        </ul>
    </div>
    &lt;!&ndash;/.Call to action&ndash;&gt;

    <hr>

    &lt;!&ndash;Social buttons&ndash;&gt;
    <div class="social-section">
        <ul>
            <li>
                <a href="https://www.facebook.com/groups/445095515676900/" class="btn-floating btn-small btn-fb">
                    <i class="fa fa-facebook"> </i>
                </a>
            </li>
            <li>
                <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&to=info@elearnclass.org&tf=1"
                   class="btn-floating btn-small btn-git">
                    <img class="social-icon-img" src="/img/icons/gmail.jpg"
                         alt="Gmail">
                </a>
            </li>
            <li>
                <a href="https://plus.google.com/communities/109477860690730117453"
                   class="btn-floating btn-small btn-gplus">
                    <i id="plus-logo" class="fa fa-google-plus"> </i>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/elearndelgado/" class="btn-floating btn-small btn-li">
                    <i class="fa fa-instagram"> </i>
                </a>
            </li>
            <li>
                <a href="http://classroom.google.com" class="btn-floating btn-small btn-git">
                    <img src="/img/icons/classroom.png" alt="Google Classroom"
                         class="social-icon-img">
                </a>
            </li>
        </ul>
    </div>
    &lt;!&ndash;/.Social buttons&ndash;&gt;

    &lt;!&ndash;Copyright&ndash;&gt;
    <div class="footer-copyright">
        <div class="container-fluid">
            © 2017 Copyright: <a href="https://www.MDBootstrap.com"> Existent Organisation </a>

        </div>
    </div>
    &lt;!&ndash;/.Copyright&ndash;&gt;

</footer>
&lt;!&ndash;/.Footer&ndash;&gt;

&lt;!&ndash;
<script>
    $(".page-footer").find(".col-md-2").find("li").find("a").each(function(){
        $(this).text($(this).text().toUpperCase()).css('text-decoration', 'underline');
    });
</script>&ndash;&gt;

<script>
    $(".social-icon-img").height($("#plus-logo").height());
    $(".social-icon-img").height($("#plus-logo").width());
    $(window).resize(function () {
        $(".social-icon-img").height($("#plus-logo").height());
        $(".social-icon-img").height($("#plus-logo").width());
    });

    $(".social-section").find("li").find("a").click(function(){
        window.location = $(this).attr('href');
    });
</script>
-->


<footer class="footer__wrap u__zfix">
    <div class="container narrow">
        <div class="footer__row">
            <div class="footer__links">
                <h4 class="t__h6 c__blue footer__heading">Solutions</h4>
                <div class="footer__link"><a href="/live-chat">Live Chat to Help &amp; Sell</a></div>
                <div class="footer__link"><a href="/customer-engagement">Onboarding &amp; Retention</a></div>
                <div class="footer__link"><a href="/customer-support-software">Customer Support</a></div>
                <div class="footer__hr"></div>
                <div class="footer__link"><a href="/pricing">View Pricing</a></div>
                <div class="footer__link"><a href="/customer-intelligence">Intercom Platform</a> <span
                            class="footer__new">Free</span></div>
            </div>
            <div class="footer__links">
                <h4 class="t__h6 c__blue footer__heading">Features</h4>
                <div class="footer__link"><a href="/in-app-messaging">In-App Messaging</a></div>
                <div class="footer__link"><a href="/customer-support-software/help-desk/team-inbox">Team Inbox</a></div>
                <div class="footer__link"><a href="/help-center">Help Center</a></div>
                <div class="footer__link"><a href="/mobile">Intercom for Mobile</a></div>
                <div class="footer__link"><a href="/integrations">Integrations</a></div>
                <div class="footer__link">
                    <a href="/mobile-apps">
                        iOS &amp; Android Apps
                    </a>
                </div>
            </div>
            <div class="footer__links">
                <h4 class="t__h6 c__blue footer__heading">Resources</h4>
                <div class="footer__link"><a href="https://demos.intercom.com">Watch a Demo</a></div>
                <div class="footer__link"><a href="https://docs.intercom.io/">Docs</a></div>
                <div class="footer__link"><a href="https://developers.intercom.io">Developers</a></div>
                <div class="footer__link"><a href="https://www.intercom.com/tour">Events</a></div>
                <div class="footer__link"><a href="https://status.intercom.io/">Status</a></div>
                <div class="footer__link u__hidden--lg u__hidden--xlg"><a
                            href="https://docs.intercom.io/terms">Terms</a></div>
                <div class="footer__link u__hidden--lg u__hidden--xlg"><a href="https://docs.intercom.io/privacy">Privacy</a>
                </div>
                <div class="footer__link"><a href="/security">Security</a></div>
                <div class="footer__link"><a href="/books">Books</a></div>
            </div>
            <div class="footer__links">
                <h4 class="t__h6 c__blue footer__heading">Company</h4>
                <div class="footer__link"><a href="/about">About</a></div>
                <div class="footer__link"><a href="/customers">Customers</a></div>
                <div class="footer__link"><a href="/careers">Careers</a></div>
                <div class="footer__link"><a href="/press">Press Resources</a></div>
                <div class="footer__link"><a href="/contact">Contact Us</a></div>
            </div>

            <div class="footer__links  footer__links-blog">
                <h4 class="t__h6 c__blue footer__heading">From the blog</h4>
                <div class="footer__hr"></div>
                <div data-blog-config="{&quot;number&quot;: 3}">
                    <div class="footer__link"><a href="https://blog.intercom.com/new-book-intercom-on-starting-up/">New
                                                                                                                    book:
                                                                                                                    Intercom
                                                                                                                    on
                                                                                                                    Starting
                                                                                                                    Up</a>
                    </div>
                    <div class="footer__link"><a
                                href="https://blog.intercom.com/timing-is-everything-what-our-data-says-about-when-to-message-your-customers/">Timing
                                                                                                                                               is
                                                                                                                                               everything:
                                                                                                                                               what
                                                                                                                                               our
                                                                                                                                               data
                                                                                                                                               says
                                                                                                                                               about
                                                                                                                                               the
                                                                                                                                               best
                                                                                                                                               time
                                                                                                                                               to
                                                                                                                                               send
                                                                                                                                               a
                                                                                                                                               message</a>
                    </div>
                    <div class="footer__link"><a href="https://blog.intercom.com/picking-your-pricing-model/">Picking a
                                                                                                              pricing
                                                                                                              strategy
                                                                                                              for your
                                                                                                              product</a>
                    </div>
                </div>
                <div class="sp__2"></div>
                <a class="c__blue f__no-und" href="https://blog.intercom.com">Read More</a><span
                        class="t__small c__blue">&nbsp;→</span>
            </div>
        </div>

        <div class="u__hidden--sm u__hidden--md">
            <div class="sp__7"></div>
            <div class="g__row center">
                <div class="g__c6 footer__addons">
                    <a class="footer__addon list__item" href="https://docs.intercom.io/terms">Terms</a>
                    <a class="footer__addon list__item" href="https://docs.intercom.io/privacy">Privacy</a>
                    <a class="footer__addon list__item" href="mailto:team@intercom.com">team@intercom.com</a>
                </div>
                <div class="g__c6 footer__social">
                    <a class="social" href="https://www.facebook.com/intercominc/">
                        <i class="social__facebook">
                            <svg enable-background="new 0 0 32 32" version="1.1" viewBox="0 0 32 32"
                                 xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Flat_copy">
                                    <path fill="#1f8ded"
                                          d="M11.848,32h6.612V15.998h4.411l0.584-5.514H18.46l0.007-2.761c0-1.437,0.137-2.209,2.2-2.209h2.757V0h-4.412   c-5.299,0-7.164,2.675-7.164,7.174v3.311H8.545v5.515h3.303V32z"></path>
                                </g></svg>
                        </i>
                    </a>
                    <a class="social" href="http://twitter.com/intercom">
                        <i class="social__twitter">
                            <svg enable-background="new 0 0 32 32" height="32px" version="1.0" viewBox="0 0 32 32"
                                 width="32px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink"><path
                                        d="M31.993,6.077C30.816,6.6,29.552,6.953,28.223,7.11c1.355-0.812,2.396-2.098,2.887-3.63  c-1.269,0.751-2.673,1.299-4.168,1.592C25.744,3.797,24.038,3,22.149,3c-3.625,0-6.562,2.938-6.562,6.563  c0,0.514,0.057,1.016,0.169,1.496C10.301,10.785,5.465,8.172,2.227,4.201c-0.564,0.97-0.888,2.097-0.888,3.3  c0,2.278,1.159,4.286,2.919,5.464c-1.075-0.035-2.087-0.329-2.972-0.821c-0.001,0.027-0.001,0.056-0.001,0.082  c0,3.181,2.262,5.834,5.265,6.437c-0.55,0.149-1.13,0.23-1.729,0.23c-0.424,0-0.834-0.041-1.234-0.117  c0.834,2.606,3.259,4.504,6.13,4.558c-2.245,1.76-5.075,2.811-8.15,2.811c-0.53,0-1.053-0.031-1.566-0.092  C2.905,27.913,6.355,29,10.062,29c12.072,0,18.675-10.001,18.675-18.675c0-0.284-0.008-0.568-0.02-0.85  C30,8.55,31.112,7.395,31.993,6.077z"
                                        fill="#1f8ded"></path></svg>
                        </i>
                    </a>
                    <a class="social" href="https://www.linkedin.com/company/intercom">
                        <i class="social__linkedin">
                            <svg enable-background="new 0 0 32 32" height="32px" version="1.0" viewBox="0 0 32 32"
                                 width="32px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink"><rect fill="#1f8ded" height="23" width="7"
                                                                                  y="9"></rect>
                                <path d="M24.003,9C20,9,18.89,10.312,18,12V9h-7v23h7V19c0-2,0-4,3.5-4s3.5,2,3.5,4v13h7V19C32,13,31,9,24.003,9z"
                                      fill="#1f8ded"></path>
                                <circle cx="3.5" cy="3.5" fill="#1f8ded" r="3.5"></circle></svg>
                        </i>
                    </a>
                </div>
            </div>
        </div>

        <div class="u__hidden--lg u__hidden--xlg f__center">
            <div class="sp__4"></div>
            <a href="/" class="brand__symbol">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" viewBox="0 0 90 90" xml:space="preserve">
<path fill="#1f8ded" d="M78.75,0.0001298L11.2500095,0.000006c-6.2132258-0.0000114-11.25,5.0366535-11.25,11.2499628L0,78.7498703
	c-0.0000008,6.2133026,5.0367718,11.2499847,11.2499971,11.25l67.4999924,0.0001221
	c6.2132263,0.0000153,11.25-5.0366516,11.25-11.2499619L90,11.2501335C90,5.0368252,84.9632263,0.0001412,78.75,0.0001298z
	 M57.0000038,16.4999847c0-1.6567364,1.3432617-2.9999933,3-2.9999905s3,1.3432646,3,3l-0.0000076,40.0783844
	c0,1.6567345-1.3432617,2.9999924-3,2.9999886s-3-1.3432655-3-3L57.0000038,16.4999847z M42.0000038,14.9817295
	c0-1.6567364,1.3432617-2.9999933,3-2.9999905s3,1.3432655,3,3.000001l-0.0000076,43.4999352
	c0,1.6567345-1.3432617,2.9999924-3,2.9999886c-1.6567383,0-2.9999962-1.3432617-2.9999962-3L42.0000038,14.9817295z
	 M27.0000057,16.4999905c0-1.6567354,1.3432617-2.9999933,3-2.9999895c1.6567383,0.0000029,3.0000019,1.3432646,2.9999981,3.000001
	L33,56.5783195c0,1.6567345-1.3432636,2.9999924-3.0000019,2.9999924C28.3432617,59.5783081,27,58.2350464,27,56.5783081
	L27.0000057,16.4999905z M12.0000067,22.4999943c0-1.6567364,1.3432627-2.9999924,3-2.9999905
	c1.6567392,0.0000038,2.999999,1.3432655,2.999999,3.0000019l-0.0000038,26.9816265c0,1.6567383-1.3432617,2.9999924-3,2.9999924
	c-1.6567383-0.0000038-2.999999-1.3432655-2.999999-3.0000038L12.0000067,22.4999943z M76.9526291,68.2595444
	c-0.4628906,0.3969727-11.5766602,9.7221298-31.9526329,9.7220917c-20.3759747-0.0000305-31.4890099-9.3252335-31.9526329-9.7222061
	c-1.2575684-1.078125-1.4033194-2.972168-0.3251944-4.2304688c1.0759277-1.2553635,2.9648438-1.4040413,4.2231436-0.3310432
	c0.1765137,0.1472168,10.1000957,8.2836952,28.0546837,8.2837334c18.1801758,0.0000305,27.9506798-8.1950073,28.0473595-8.277771
	c1.2553711-1.0781212,3.1523438-0.9330978,4.2304688,0.3252029S78.2109299,67.181427,76.9526291,68.2595444z M77.9999924,49.4817429
	c0,1.6567345-1.3432617,2.9999924-3,2.9999886c-1.6567383,0-2.9999924-1.3432617-2.9999924-3V22.4999809
	c0-1.6567364,1.3432617-2.9999924,3-2.9999905c1.6567383,0.0000038,3,1.3432655,3,3.0000019L77.9999924,49.4817429z"></path>
</svg>
            </a>
        </div>
    </div>
</footer>